form{
	border:1px solid black;
	width:1000px;
}

.nav {
    width: 100%;
    height: 50px;
    background: black;
    opacity: 0.9;
    color: white;
    font-size: 1em;
    display: flex;
    flex-direction: row;
  position: sticky;
  top: 0;

}


p
{
	font-family: verdana;
}

.k{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}

.i {
    margin-right: 1em;
    width: 33%;
    box-shadow: 1px 1px 5px 1px grey;
    display: flex;
    flex-direction: column;
}
.s {
    height: 30px;
    margin-top: -30px;
    padding: 0.5em 0.5em 0 0.5em;
    text-align: center;
    color: #fff;
    background: black;
    opacity: 0.8;
}

.footer
{

    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
}






	
